.menu{
    float:right ;
    background-color: orange;
    li{
	    display : inline-block;
        
        border-color: black;
        top:auto;
	    background-color : orange;
	    padding:5px;
	    margin:5px;
        
    }
}

.logo{

    float:left;
}

.error{

    background-color: crimson;
}
