<!DOCTYPE html>
<head>
<title>STUDY SPACE</title>
<link rel="stylesheet" href="{{ url_for('static', filename='allstyle.css') }}">
</head>
<body>
    <div class="menu">
        <ul>
            <li><a href="{{ url_for('aboutus') }}">about us</a></li>
            <li><a href="{{ url_for('signup') }}">sign up</a></li>
            <li><a href="{{ url_for('login') }}">login</a></li>
            
        </ul>
        <div class="logo">logo</div>
    </div>
    <div class="body">
        text
    </div>

</body>




</html>
